<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Project</title>
		<meta charset="utf-8">
		<meta name="description" content="Project">
		<meta name="author" content="Romain Parage">

		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js" data-main="./scripts/main.js"></script>
    	<script src="./scripts/viewmodels/main.viewmodel.js"></script>

		<!-- Styles -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="./styles/main.css">
	</head>
	<body>
		<div id="main">
			<div data-bind="text: value"></div>
		</div>
	</body>
</html>