<h1>Connect</h1>

<form action="/account/connect" method="POST">
    <span>Email:</span>
    <input type="text" name="email" />
    <span>Password:</span>
    <input type="text" name="password" />
    <button type="submit">Connect</button>
</form>