body {
	margin-bottom: 20px;
	margin-top: 20px;
}

hr {
	border-color: #ccc;
}

#main {
	display: none;
}

#menu-view {
	margin-bottom: 20px;
}

.nav li {
	cursor: pointer;
}

.nav li:not(.active) a {
   border: 1px solid #ccc;
}

.nav li.active a {
   border: 1px solid #337ab7;
}

.datepicker {
	display: block;
	margin-top: 26px;
}

.btn-xs {
	margin-left: 5px;
	margin-bottom: 2px;
	padding: 0px 3px;
}

.amount-creation-container input {
	margin-bottom: 8px;
}