body {
	margin-bottom: 20px;
	margin-top: 20px;
}

#main {
	display: none;
}

#menu-view {
	margin-bottom: 20px;
}

.nav li {
	cursor: pointer;
}

.nav li:not(.active) a {
   border: 1px solid #ccc;
}

.datepicker {
	display: block;
	margin-top: 26px;
}